.message {
  background-color: #495e57;
}

.message-content h1 {
  color: #fff;
}

.message-content p {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}