.review-card {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.review-card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
}

.review-card-header {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.review-card-header img {
  width: 40px;
  height: auto;
}

.review-card-header h3 {
  font-weight: 600;
}

.description {
  margin: .75rem 0;
  font-size: 1rem;
}

.star {
  width: 20px;
  margin-right: 2px;
  height: auto;
  filter: grayscale(100%);
  opacity: 0.4;
}

.star.filled {
  filter: none;
  opacity: 1;
}

.rating {
  width: 125px;
  margin-top: 1rem;
}
