.review-card {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.review-card img {
  width: 40px;
  height: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
}

.card-header {
  margin-top: .25rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.card-header h3 {
  font-weight: 600;
  margin-bottom: .25rem;
}

.description {
  margin: 1rem 0;
  font-size: 1rem;
}

