.reservation-form {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
  gap: 1.5rem;
  background-color: #edefee;
  padding: 2rem;
}

.reservation-form input,
.reservation-form select {
  width: 100%;
}

.reservation-form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}